{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <img src="/uploads/images/{{ user.picture }}" alt="profile picture">
    <p>{{ user.description }}</p>
{% endblock %}
