.contact {
  margin-top: 200px;
  .container {
    .left-box {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      .email {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .link {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        margin-top: 20px;
        div {
          width: 50px;
          height: 50px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: $font-color;
            background-color: $first-color;
            border-radius: 25px;
          }
        }
      }
    }
    .form {
      width: 100%;
      .box {
        display: flex;
        justify-content: space-around;
      }
      .form {
        border: 1px solid #111;
        width: 100%;
        background: #252525;
        color: #fff;
        padding: 11px 26px;
        margin-bottom: 30px;
        border-radius: 30px;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .contact {
    margin-top: 0;
    .container .form .box {
      display: block;
    }
  }
}
