body{
  font-family: 'Open Sans', sans-serif;
  background: $background;
  color: $font-color;
  padding-top: 55px;
  width: 100%;
  height: 949px;
  strong {
    color: $first-color;
    margin-left: 7px;
  }
  .title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  .btn-success {
    background-color: $first-color;
  }
}